In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

In [2]:
database_name ='scooters'
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [3]:
query = '''
SELECT *
FROM scooters
LIMIT 500000;
'''
with engine.connect() as connection:
    scooters = pd.read_sql(text(query), con = connection)

In [5]:
scooters.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-14 19:19:24.280,36.155576,-86.786741,PoweredX1Y3F,Powered,100.0,scooter,0.0,Bird
1,2019-05-14 19:19:24.280,36.148261,-86.808287,Powered67J7W,Powered,74.0,scooter,0.0,Bird
2,2019-05-14 19:19:24.280,36.143996,-86.813601,Powered6EBMC,Powered,100.0,scooter,0.0,Bird
3,2019-05-14 19:19:24.280,36.150924,-86.812193,PoweredA8Q7S,Powered,39.0,scooter,0.0,Bird
4,2019-05-14 19:19:24.280,36.159198,-86.781262,PoweredYUK85,Powered,46.0,scooter,0.0,Bird

Were mob coding. will update my version later.

In [6]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython-sql) (8.19.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: exceptiongroup in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: colorama in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\koste\anaconda3\envs\scooters\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [7]:
%load_ext sql

In [8]:
%sql postgresql://postgres:postgres@localhost/scooters

In [14]:
%%sql

SELECT COUNT (*)
FROM scooters
WHERE pubdatetime IS NULL
    OR latitude IS NULL
    OR longitude IS NULL
    OR sumdid IS NULL
    OR companyname IS NULL
    or costpermin is null
    or sumdgroup is null;

 * postgresql://postgres:***@localhost/scooters

1 rows affected.

[(0,)]

No null values were detected.

In [15]:
%%sql

SELECT MIN (startdate) AS min_startdate, 
MAX (startdate) AS max_startdate,
MIN (enddate) AS min_enddate,
MAX (enddate) AS max_enddate
FROM trips;

 * postgresql://postgres:***@localhost/scooters
1 rows affected.

[(datetime.date(2019, 5, 1), datetime.date(2019, 7, 31), datetime.date(2019, 5, 1), datetime.date(2019, 8, 1))]

In [16]:

%%sql
SELECT MIN (pubdatetime) AS min_pubdate, MAX (pubdatetime) AS max_pubdate
FROM scooters

 * postgresql://postgres:***@localhost/scooters
1 rows affected.

[(datetime.datetime(2019, 5, 1, 0, 1, 41, 247000), datetime.datetime(2019, 7, 31, 23, 59, 57))]

In [17]:
%%sql
SELECT DISTINCT sumdgroup
FROM scooters;

 * postgresql://postgres:***@localhost/scooters
3 rows affected.

[('bicycle',), ('scooter',), ('Scooter',)]

In [18]:
%%sql
SELECT MIN (startlatitude) AS min_startlatitude, 
 MAX (startlatitude) AS max_startlatitude, 
 MIN (startlongitude) AS min_startlongitude, 
 MAX (startlongitude) AS max_startlongitude,
 MIN (endlatitude) AS min_endlatitude,
 MAX (endlatitude) AS max_endlatitude, 
 MIN (endlongitude) AS min_endlongitude,
 MAX (endlatitude) AS max_endlatitude
FROM trips;

 * postgresql://postgres:***@localhost/scooters
1 rows affected.

[(Decimal('35.8532'), Decimal('36.300029'), Decimal('-86.918008'), Decimal('-86.3662'), Decimal('-36.850405'), Decimal('51.045409'), Decimal('-122.673729'), Decimal('51.045409'))]

In [19]:
%%sql
SELECT MIN (tripduration) AS min_tripduration, 
 MAX (tripduration) AS max_tripduration, 
 MIN (tripdistance) AS min_tripdistance, 
 MAX (tripdistance) AS max_tripdistance
FROM trips

 * postgresql://postgres:***@localhost/scooters
1 rows affected.

[(Decimal('-19.3582666667'), Decimal('512619.0'), Decimal('-20324803.8'), Decimal('31884482.6476'))]