In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from geopandas.tools import sjoin 
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
from shapely.geometry import Point

In [2]:
database_name = 'scooters'    # create our engine
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)
#con = engine.connect()

In [3]:
zipcodes = gpd.read_file('../data/zipcodes_json.geojson')
print(zipcodes.crs)
zipcodes.head( )

EPSG:4326

,zipcode,poname,created_date,objectid,globalid,created_user,last_edited_date,last_edited_user,geometry
0,37218,NASHVILLE,None,55,{3CB897BE-ACCB-46CB-BA4E-6F5E39D6C451},None,None,None,"MULTIPOLYGON (((-86.88231 36.26248, -86.88270 ..."
1,37080,JOELTON,None,32,{C63ADE44-CC5E-4CCD-BBF0-4B8A64864B42},None,None,None,"MULTIPOLYGON (((-86.90742 36.39053, -86.90725 ..."
2,37027,BRENTWOOD,None,44,{8846D4AC-5F8A-4434-8348-C9A28297FA4E},None,None,None,"MULTIPOLYGON (((-86.67793 35.98782, -86.67941 ..."
3,37086,LA VERGNE,None,5,{1618FE99-089D-4ED0-BAFA-C29A19596F3D},None,None,None,"MULTIPOLYGON (((-86.58870 36.02671, -86.58836 ..."
4,37219,NASHVILLE,None,15,{B531C81C-3919-4059-8444-23F5F0684ECA},None,None,None,"MULTIPOLYGON (((-86.78609 36.17465, -86.78585 ..."

In [4]:
bus_stops_cleaned=pd.read_csv('../data/busstops_cleaned.csv')
bus_stops_cleaned.head()

,stop,route,location,lat,lng
0,GREEN LN & WHITES CREEK PIKE WB,GOLDEN VALLEY,"(36.236249, -86.816722)",36.236249,-86.816722
1,_ 9TH AVE S & EDGEHILL AVE SB,8TH AVENUE SOUTH,"(36.142642, -86.780897)",36.142642,-86.780897
2,DONELSON/DELL STATION OUTBOUND,MURFREESBORO PIKE,"(36.105615, -86.672004)",36.105615,-86.672004
3,17TH AVE S & DOROTHY PL SB,BELMONT,"(36.137623, -86.795609)",36.137623,-86.795609
4,COCKRILL ST & 14TH AVE N,ST. CECILIA - CUMBERLAND,"(36.175944, -86.804242)",36.175944,-86.804242

In [5]:
query_start_loc = '''
SELECT sumdid, starttime, companyname, startlatitude, startlongitude
FROM trips
GROUP BY sumdid, starttime, companyname, startlatitude, startlongitude

'''
start_loc = pd.read_sql(query_start_loc, con = engine)

In [8]:


# Load the scooter trip data
start_loc = pd.read_sql(query_start_loc, con = engine)
# Convert to a GeoDataFrame
start_loc['geometry'] = start_loc.apply(lambda row: Point(row['startlongitude'], row['startlatitude']), axis=1)
start_loc_gdf = gpd.GeoDataFrame(start_loc, geometry='geometry')

#  bus stop data
bus_stops_cleaned=pd.read_csv('../data/busstops_cleaned.csv')
# Convert 2 GeoDataFrame
bus_stops_cleaned['geometry'] = bus_stops_cleaned.apply(lambda row: Point(row['lng'], row['lat']), axis=1)
bus_stops_gdf = gpd.GeoDataFrame(bus_stops_cleaned, geometry='geometry')

# double check crs
crs = "EPSG:4326"  # WGS 84
start_loc_gdf.set_crs(crs, inplace=True)
bus_stops_gdf.set_crs(crs, inplace=True)

,stop,route,location,lat,lng,geometry
0,GREEN LN & WHITES CREEK PIKE WB,GOLDEN VALLEY,"(36.236249, -86.816722)",36.236249,-86.816722,POINT (-86.81672 36.23625)
1,_ 9TH AVE S & EDGEHILL AVE SB,8TH AVENUE SOUTH,"(36.142642, -86.780897)",36.142642,-86.780897,POINT (-86.78090 36.14264)
2,DONELSON/DELL STATION OUTBOUND,MURFREESBORO PIKE,"(36.105615, -86.672004)",36.105615,-86.672004,POINT (-86.67200 36.10562)
3,17TH AVE S & DOROTHY PL SB,BELMONT,"(36.137623, -86.795609)",36.137623,-86.795609,POINT (-86.79561 36.13762)
4,COCKRILL ST & 14TH AVE N,ST. CECILIA - CUMBERLAND,"(36.175944, -86.804242)",36.175944,-86.804242,POINT (-86.80424 36.17594)
...,...,...,...,...,...,...
2519,RICHARD JONES RD & LONE OAK RD EB,BELMONT,"(36.104296, -86.809189)",36.104296,-86.809189,POINT (-86.80919 36.10430)
2520,WOODMONT BLVD & PLEASANT VALLEY RD WB,12TH AVENUE SOUTH,"(36.110228, -86.775619)",36.110228,-86.775619,POINT (-86.77562 36.11023)
2521,BUCHANAN ST & 11TH AVE N EB,BORDEAUX,"(36.180257, -86.804974)",36.180257,-86.804974,POINT (-86.80497 36.18026)
2522,MARINA ST & MYRTLE ST EB,McFERRIN,"(36.180416, -86.757368)",36.180416,-86.757368,POINT (-86.75737 36.18042)
2523,LAFAYETTE ST & 1ST AVE S WB,MURFREESBORO PIKE,"(36.150003, -86.765572)",36.150003,-86.765572,POINT (-86.76557 36.15000)

In [9]:
start_loc_gdf.head()

,sumdid,starttime,companyname,startlatitude,startlongitude,geometry
0,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,00:04:11,Bolt Mobility,36.159964,-86.776565,POINT (-86.77657 36.15996)
1,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,00:14:04,Bolt Mobility,36.168413,-86.777642,POINT (-86.77764 36.16841)
2,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,00:18:19,Bolt Mobility,36.158484,-86.768203,POINT (-86.76820 36.15848)
3,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,00:22:39,Bolt Mobility,36.154332,-86.784816,POINT (-86.78482 36.15433)
4,Powered-017d3133-f14a-2b83-ee4f-d777e7c5b619,00:24:57,Bolt Mobility,36.160021,-86.776552,POINT (-86.77655 36.16002)

In [13]:
import matplotlib.pyplot as plt

# Plot
fig, ax = plt.subplots(figsize=(10, 10))
start_loc_gdf.plot(ax=ax, markersize=5, color='blue', label='Scooter Start Locations')
bus_stops_gdf.plot(ax=ax, markersize=10, color='red', marker='*', label='Bus Stops')

# buffer stuff
# Convert to UTM stuff for distance calculation in meters
scooter_gdf_utm = start_loc_gdf.to_crs(start_loc_gdf.estimate_utm_crs())
bus_stops_gdf_utm = bus_stops_gdf.to_crs(bus_stops_gdf.estimate_utm_crs())

# buffer
bus_stops_buffer = bus_stops_gdf_utm.buffer(1609.34)

# start loc near bus stop?
scooter_gdf_utm['near_bus_stop'] = scooter_gdf_utm.geometry.apply(lambda x: bus_stops_buffer.contains(x).any())

# make start locs near bus stop different color w/ label
scooter_gdf_utm[scooter_gdf_utm['near_bus_stop']].to_crs(crs).plot(ax=ax, markersize=5, color='green', label='Near Bus Stop')

plt.legend()
plt.show()

F:\Users\seanm\anaconda3\envs\scooters\lib\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)