In [9]:
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [17]:
database_name = 'scooters'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)
#con = engine.connect()

In [7]:



database_name = 'lahmans_baseball'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)
con = engine.connect()

In [22]:
# query = '''
# SELECT *
# FROM trips
# LIMIT 20;
'''
pd.read_sql(query, con = engine)
#commented out below because was experimenting. keep just above for now for EDA
# with engine.connect() as connection:   
#     result = connection.execute(text(query))

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01,00:00:20.460000,2019-05-01,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[(36.157235, -86.803612), (36.157235, -86.8036...",2019-05-02 05:30:23.780
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01,00:01:50.090000,2019-05-01,00:03:33.026666,36.157970,-86.778960,36.160540,-86.776890,"[(36.15797, -86.77896), (36.15795, -86.77873),...",2019-05-02 07:20:32.757
2,2019-05-01 00:05:55.570,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01,00:03:47.363333,2019-05-01,00:07:13.596666,36.154700,-86.781800,36.156500,-86.786800,"[(36.155068, -86.782124), (36.156597, -86.78675)]",2019-05-02 05:30:24.530
3,2019-05-01 00:05:55.570,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01,00:04:21.386666,2019-05-01,00:06:59.176666,36.149400,-86.779500,36.153100,-86.779600,"[(36.149741, -86.779344), (36.149741, -86.7793...",2019-05-02 05:30:24.237
4,2019-05-01 00:05:55.570,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01,00:04:27.796666,2019-05-01,00:06:23.150000,36.177800,-86.786600,36.177400,-86.787600,"[(36.177699, -86.786477), (36.177711, -86.7864...",2019-05-02 05:30:24.207
5,2019-05-01 00:05:55.570,Bird,BRD2167,PoweredEJF1K,3.000000,984.25200,2019-05-01,00:03:56.546666,2019-05-01,00:06:45.786666,36.154400,-86.786200,36.151500,-86.784400,"[(36.154368, -86.785909), (36.151689, -86.7843...",2019-05-02 05:30:24.317
6,2019-05-01 00:07:55.880,Lyft,LFT10,Powered329418,1.093917,0.00000,2019-05-01,00:06:50.106666,2019-05-01,00:07:55.740000,36.151680,-86.784080,36.151710,-86.784110,"[(36.15168, -86.78408), (36.15171, -86.78411)]",2019-05-02 07:20:32.890
7,2019-05-01 00:10:50.240,Lyft,LFT13,Powered438572,2.954383,1161.41736,2019-05-01,00:07:52.853333,2019-05-01,00:10:50.116666,36.151930,-86.784390,36.154630,-86.784920,"[(36.15193, -86.78439), (36.15188, -86.78432),...",2019-05-02 07:20:32.990
8,2019-05-01 00:10:56.013,Bird,BRD2193,PoweredSX2AW,6.000000,2624.67200,2019-05-01,00:06:34.436666,2019-05-01,00:12:48.676666,36.170800,-86.789300,36.174600,-86.786000,"[(36.170995, -86.789593), (36.173193, -86.7912...",2019-05-02 05:30:24.833
9,2019-05-01 00:10:56.013,Bird,BRD2194,PoweredL968V,6.000000,2624.67200,2019-05-01,00:05:36.870000,2019-05-01,00:11:19.183333,36.156500,-86.797100,36.151200,-86.796800,"[(36.15654, -86.797137), (36.153065, -86.79804...",2019-05-02 05:30:24.920
10,2019-05-01 00:10:56.013,Bird,BRD2191,PoweredVS299,3.000000,984.25200,2019-05-01,00:09:14.073333,2019-05-01,00:12:37.533333,36.161200,-86.780800,36.159300,-86.780800,"[(36.160907, -86.780775), (36.159377, -86.7807...",2019-05-02 05:30:24.663
11,2019-05-01 00:10:56.013,Bird,BRD2192,Powered9DC3R,5.000000,1968.50400,2019-05-01,00:07:37.766666,2019-05-01,00:12:13.596666,36.151600,-86.812200,36.151900,-86.814400,"[(36.151608, -86.811971), (36.151675, -86.8121...",2019-05-02 05:30:24.737
12,2019-05-01 00:10:56.013,Bird,BRD2197,Powered5R8S1,9.000000,3280.84000,2019-05-01,00:01:50.923333,2019-05-01,00:11:03.403333,36.161400,-86.776000,36.156700,-86.780800,"[(36.161623, -86.776131), (36.161411, -86.7760...",2019-05-02 05:30:25.087
13,2019-05-01 00:10:56.013,Bird,BRD2196,PoweredF8GJP,9.000000,328.08400,2019-05-01,00:03:32.563333,2019-05-01,00:12:36.373333,36.164700,-86.780900,36.164100,-86.783000,"[(36.165052, -86.78149), (36.164572, -86.78154...",2019-05-02 05:30:25.027
14,2019-05-01 00:10:56.013,Bird,BRD2195,Powered2AQ14,6.000000,4921.26000,2019-05-01,00:05:30.423333,2019-05-01,00:11:55.403333,36.165800,-86.780300,36.168300,-86.767600,"[(36.165862, -86.780524), (36.165631, -86.7797...",2019-05-02 05:30:24.970
15,2019-05-01 01:15:58.413,Bird,BRD2472,PoweredKU3Z3,0.000000,0.00000,2019-05-01,01:17:28.820000,2019-05-01,01:17:45.083333,36.175400,-86.755900,36.175400,-86.755900,"[(36.175385, -86.755707), (36.175385, -86.7557...",2019-05-02 05:30:33.110
16,2019-05-01 02:01:00.667,Bird,BRD2663,PoweredSXDH3,6.000000,1312.33600,2019-05-01,01:55:28.166666,2019-05-01,02:01:31.870000,36.176900,-86.784300,36.174500,-86.786000,"[(36.176947, -86.784408), (36.176833, -86.7847...",2019-05-02 05:30:37.390
17,2019-05-06 04:18:37.540,Lime,LIM766,Powered7FP3ACDGO4AKF,4.283333,0.00000,2019-05-06,03:53:55,2019-05-06,03:58:12,36.164064,-86.779384,36.168658,-86.783099,"[(36.16375, -86.77944)]",2019-05-07 06:42:48.767
18,2019-05-01 00:10:58.173,Lyft,LFT14,Powered689177,2.780000,1161.41736,2019-05-01,00:08:11.206666,2019-05-01,00:10:58.006666,36.151860,-86.784410,36.154610,-86.784940,"[(36.15186, -86.78441), (36.15179, -86.78431),...",2019-05-02 07:20:33.020
19,2019-05-01 00:11:26.627,Lyft,LFT16,Powered901629,6.436200,4908.13664,2019-05-01,00:05:00.326666,2019-05-01,00:11:26.500000,36.162110,-86.775280,36.151510,-86.772380,"[(36.16211, -86.77528), (36.16206, -86.7753), ...",2019-05-02 07:20:33.087

In [33]:
query = '''
SELECT *
FROM trips
LIMIT 100;
'''

with engine.connect() as connection:
    trips = pd.read_sql(text(query), con = connection)
    scooters = pd.read_sql(text(query), con = connection)
    # defining trips and scooters is allowing me to use .shape and .info

#trips.head()

In [35]:
trips.tail()

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
95,2019-05-01 00:35:56.717,Bird,BRD2302,PoweredISXDY,17.000000,8202.10000,2019-05-01,00:18:55.406666,2019-05-01,00:36:04.586666,36.16730,-86.78300,36.15440,-86.79890,"[(36.166937, -86.782786), (36.165893, -86.7818...",2019-05-02 05:30:28.523
96,2019-05-01 00:37:02.933,Lyft,LFT59,Powered980721,15.817283,11404.19984,2019-05-01,00:21:13.733333,2019-05-01,00:37:02.770000,36.15840,-86.77693,36.16908,-86.76753,"[(36.1584, -86.77693), (36.15845, -86.7769), (...",2019-05-02 07:20:34.490
97,2019-05-01 00:37:39.827,Lyft,LFT61,Powered594191,16.260350,11033.46492,2019-05-01,00:21:24.126666,2019-05-01,00:37:39.750000,36.15843,-86.77686,36.16911,-86.76755,"[(36.15843, -86.77686), (36.15838, -86.7769), ...",2019-05-02 07:20:34.553
98,2019-05-01 00:37:41.263,Lyft,LFT62,Powered251145,8.953833,633.20212,2019-05-01,00:28:43.906666,2019-05-01,00:37:41.136666,36.16255,-86.77552,36.16285,-86.77590,"[(36.16255, -86.77552), (36.16259, -86.77561),...",2019-05-02 07:20:34.590
99,2019-05-01 00:39:22.380,Lyft,LFT63,Powered915923,12.783283,13989.50176,2019-05-01,00:26:35.293333,2019-05-01,00:39:22.290000,36.14112,-86.79115,36.14984,-86.76578,"[(36.14112, -86.79115), (36.1412, -86.79111), ...",2019-05-02 07:20:34.620

columns to keep 
scooters: pubdatetime, latitude, longitude, sumdid, companyname

trips: pubdatetime, companyname, sumdid, tripduration, tripdistance, startdate, starttime, enddate, endtime

In [102]:
scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubtimestamp    100 non-null    datetime64[ns]
 1   companyname     100 non-null    object
 2   triprecordnum   100 non-null    object
 3   sumdid          100 non-null    object
 4   tripduration    100 non-null    float64
 5   tripdistance    100 non-null    float64
 6   startdate       100 non-null    object
 7   starttime       100 non-null    object
 8   enddate         100 non-null    object
 9   endtime         100 non-null    object
 10  startlatitude   100 non-null    float64
 11  startlongitude  100 non-null    float64
 12  endlatitude     100 non-null    float64
 13  endlongitude    100 non-null    float64
 14  triproute       100 non-null    object
 15  create_dt       100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 12.6+ KB

In [88]:
# query_lite = '''
# SELECT pubdatetime, latitude, longitude, sumdid, companyname
# FROM scooters
# WHERE sumdgroup iLIKE 'scooter'
# LIMIT 1700000;
# '''

#confirm no nulls to move forward
query2 = '''
SELECT COUNT(*)
FROM scooters
WHERE pubdatetime is NULL
    OR latitude is NULL
    OR longitude is NULL
    OR sumdid is NULL
    OR companyname is NULL
;
'''


pd.read_sql(text(query2), con = engine)

   count
0      0

In [ ]:
query2 = '''
SELECT COUNT(*)
FROM scooters
WHERE pubdatetime is NULL
    OR latitude is NULL
    OR longitude is NULL
    OR sumdid is NULL
    OR companyname is NULL
;
'''


pd.read_sql(text(query2), con = engine)

In [104]:
scooters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubtimestamp    100 non-null    datetime64[ns]
 1   companyname     100 non-null    object
 2   triprecordnum   100 non-null    object
 3   sumdid          100 non-null    object
 4   tripduration    100 non-null    float64
 5   tripdistance    100 non-null    float64
 6   startdate       100 non-null    object
 7   starttime       100 non-null    object
 8   enddate         100 non-null    object
 9   endtime         100 non-null    object
 10  startlatitude   100 non-null    float64
 11  startlongitude  100 non-null    float64
 12  endlatitude     100 non-null    float64
 13  endlongitude    100 non-null    float64
 14  triproute       100 non-null    object
 15  create_dt       100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 12.6+ KB

In [96]:
query_time_difference = '''
SELECT MIN (startdate), MAX (enddate)
FROM trips
'''
print(query_time_difference)

pd.read_sql(text(query_time_difference), con = engine)

SELECT MIN (startdate), MAX (enddate)
FROM trips

          min         max
0  2019-05-01  2019-08-01

In [98]:
query_time_difference_scooters = '''
SELECT MIN (pubdatetime), MAX (pubdatetime)
FROM scooters
'''


pd.read_sql(text(query_time_difference_scooters), con = engine)

SELECT MIN (pubdatetime), MAX (pubdatetime)
FROM scooters

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [ ]:
query_time_difference_scooters = '''
SELECT MIN (pubdatetime), MAX (pubdatetime)
FROM scooters
'''


pd.read_sql(text(query_time_difference_scooters), con = engine)

In [ ]:
query_startdates = '''
SELECT MIN (startdate) as minstart, MAX (startdate) maxstart, select max(startdate), select min(startdate)
FROM scooters
'''


pd.read_sql(text(query_time_difference_scooters), con = engine)

In [103]:
query_distinct_sumdgroup = '''
SELECT DISTINCT sumdgroup
FROM scooters
'''


pd.read_sql(text(query_distinct_sumdgroup), con = engine)
# filtered out bicycles values in scooters_lite

  sumdgroup
0   bicycle
1   scooter
2   Scooter

In [111]:
query_lat_long_trips = '''
SELECT MIN (startlatitude) as min_start_latitude,
 MAX (startlatitude) as max_start_latitude,
 MIN (startlongitude) as min_start_longitude
 MAX (startlongitude) as min_start_longitude,
 MIN (endlatitude) as min_end_latitude,
 MAX (endlatitude) as max_end_latitude
FROM trips
'''


pd.read_sql(text(query_lat_long_trips), con = engine)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "MAX"
LINE 5:  MAX (startlongitude) as min_start_longitude,
         ^

[SQL:
SELECT MIN (startlatitude) as min_start_latitude,
 MAX (startlatitude) as max_start_latitude,
 MIN (startlongitude) as min_start_longitude
 MAX (startlongitude) as min_start_longitude,
 MIN (endlatitude) as min_end_latitude,
 MAX (endlatitude) as max_end_latitude
FROM trips
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [112]:
query_lat_long_trips = '''
SELECT MIN (tripduration) as min_tripduration,
 MAX (tripduration) as max_tripduration,
 MIN (tripdistance) as min_tripdistance,
 MAX (tripdistance) as max_tripdistance
FROM trips
'''


pd.read_sql(text(query_lat_long_trips), con = engine)

#trip duration is in minutes, distance in feet

   min_tripduration  max_tripduration  min_tripdistance  max_tripdistance
0        -19.358267          512619.0       -20324803.8      3.188448e+07